div.card-description {
  padding: 6px 5px;
  position: relative;
  height: 65px; 
  color: #6C7584;
}
div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}
div.card-flap {
  background: #d9d9d9;
  position: relative;
  width: 100%;
  transform-origin: top;
  top: -7px;
  transform: rotateX(-90deg);
  border-radius: var(--border-radius);
  margin-bottom: 15px;
  /* border-bottom-right-radius: var(--border-radius); */
}
div.flap1 {
  transition: all 0.5s 0.1s ease-out;
  z-index: -1;
}

div.row.showing div.element {
  opacity: 0.8;
}

div.element.show {
  opacity: 1 !important;
}

div.element.show div.card-flap {
  background: #ffffff;
  transform: rotateX(0deg);
}
div.element.show div.flap1 {
  transition: all 0.3s 0s ease-out;
}
.card-flap.flap1{
  height: 55px; 
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 575px) {
.card-flap.flap1{
  height: auto; 
}}