:root {
  --border-radius: 12px;
}
.HOVER {
  z-index: 1;
  --width: 100%;
  --time: 0.7s;

  position: relative;
  display: inline-block !important;

  padding: 0.5em;

  color: #cee321;
  /* background: #222; */
  background: #323232;
  overflow: hidden;

  text-align: center;
  width: 100%;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  cursor: pointer;
  transition: all var(--time);
}

.HOVER text {
  position: relative;
  z-index: 2;
  transition: all cubic-bezier(0.62, 0.94, 1, 1.1) var(--time);
}
.carousel .HOVER:hover,.big-b .HOVER:hover,#RecommendModal .HOVER:hover {
  background-color: #cee321;
  transition: all var(--time);
}
.HOVER:hover text {
  color: #000000;
}
.bg-prim{
  background-color: #4297b8;
}
.bg-second{
  background-color: #4297b8;
}
.text-prim, .text-prim:hover{
  /* color: #4297b8; */
  /* color: #009ABC; */
  color: #2e3192;
}

.HOVER span {
  position: absolute;
  display: block;
  content: "";
  z-index: 0;
  width: 0;
  height: 0;

  border-radius: 100%;
  background: #cee321;

  transform: translate(-50%, -50%);
  transition: width var(--time), padding-top var(--time);
}

.HOVER:hover span {
  width: calc(var(--width) * 2.25);
  padding-top: calc(var(--width) * 2.25);
}

.logo-img {
  max-width: 100%;
  height: 235px;
}

.img-fluid,
.img-banner {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  width: 100%;
}
.dod {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.dod-close {
  position: absolute;
  top: 2px;
  right: 2px;
  background-size: 0.7em;
}
#myModal .element {
  padding: 0;
}

.wrapper {
  width: 100%;
  text-align: center;
  /* height: 528px; */
}

.slick-track {
  display: flex;
  /* align-items: center; */
}
.slick-slide {
  margin: 10px;
  /* margin:40px 10px; */
}

.element.slick-slide {
  padding: 0;
}
.slick-slide img {
  width: 100%;
}
.slick-track .HOVER {
  /* padding: 0 0.5em 2rem; */
}
.slick-prev,
.slick-next {
  /* display: none !important; */
}
.slick-prev:before, .slick-next:before {
  font-size: 20px;
}
.slick-dots {
  bottom: -30px;
}
.wrapper .slick-dots li button:before {
  font-size: 20px;
  color: white;
}
.offcanvas-header div img {
  height: 153px !important;
}

.genz-logo {
  height: 102px !important;
  width: 128.8px !important;
}
.offcanvas-bottom{
  width: fit-content;
}
@media screen and (width <= 991px) {
  .img-fluid {
    height: 193.5px;
  }
  
  /* .slick-slide .img-fluid {
    height: 180px;
  } */

  /* .slick-slide.slick-current.slick-active.slick-center .img-fluid {
    height: 212px;
  } */
  .dod {
    height: 300px;
  }
  .dod-close {
    top: 2px;
    right: 2px;
  }
  .slick-track .HOVER {
    padding: 0 0.5em 1rem !important;
  }
  .slick-slide {
    /* margin: 5px; */
    margin:40px 10px;
  }
  .slick-dots {
    bottom: -40px !important;
  }
  .slick-dots li {
    width: 20px !important;
  }
    .slick-dots li button {
        background: #4d47c3 !important;
        border-radius: 50%;
    }
  .wrapper .slick-dots li button:before {
    font-size: 20px !important;
  }
}

@media screen and (width >= 992px) {
  
  .img-fluid {
    height: 233.63px;
  }
  .img-banner {
    height: 300px;
  }
  .dod-section .dod {
    height: 300px;
  }
  /* .slick-slide .img-fluid {
    height: 250px;
  } */
  /* .slick-slide.slick-current.slick-active.slick-center .img-fluid {
    height: 304px;
  } */
  .dod {
    height: 400px;
  }
  .dod-close {
    top: 2px;
    right: 2px;
  }
}
@media screen and (width >= 1200px) {
  .img-fluid {
    height: 281.25px;
  }
  .img-banner {
    height: 400px;
  }
  .dod-section .dod {
    height: 350px;
  }
  /* .slick-slide .img-fluid {
    height: 350px;
  } */
  /* .slick-slide.slick-current.slick-active.slick-center .img-fluid {
    height: 405px;
  } */
  .dod {
    height: 500px;
  }
}
@media screen and (width >= 1400px) {
  .img-fluid {
    height: 331.88px;
  }
  .img-banner {
    height: 500px;
  }
  .dod-section .dod {
    height: 500px;
  }
  /* .slick-slide .img-fluid {
    height: 400px;
  }
  .slick-slide.slick-current.slick-active.slick-center .img-fluid {
    height: 506px;
  } */
  .dod {
    height: 600px;
  }
  .dod-close {
    top: 2px;
    right: 2px;
  }
}
a {
  text-decoration: none;
}

body {
  /* background-color: #010e14; */
  /* background-color: #CCF6FF; */
  /* background-color: #1b1464; */
  background-color: #000000;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}
.bg-prim-new{
  /* background-color: #1b1464; */
  background-color: #000000;
}
.text-prim-new{
  color: #1b1464;
}

#fixed-navbar {
  height: 110px;
  /* background-color: #222; */
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0px;
}

.element {
  padding-left: 35px;
  padding-right: 35px;
}

.fa-google-play {
  position: relative;
  max-width: 100%;
  font-size: 28px;
  color: white;
  top: 22px;
}

.divLogo {
  text-align: center;
}

.thestorelogos {
  display: block;
  height: 70px;
  width: 180px;
}

.storeApps > a {
  display: block;
  height: 70px;
  width: 180px;
}
.hide1 {
  display: none !important;
}
.filters {
  animation: fadeIn 0.3s;
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  -o-animation: fadeIn 0.3s;
  -ms-animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.filter button:active {
  border: 0;
  border: transparent;
}
.filter .btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent;
}
.filter .dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
  box-shadow: 0 0 5rem rgb(0, 0, 0)!important;
}
.filter .dropdown-item {
  padding: 0.25rem 2rem;
}
.dropdown-item:focus, .dropdown-item:hover {
  box-shadow: 0 0 5rem rgb(0, 0, 0)!important;
  /* color: var(--bs-dropdown-link-hover-color); */
  background-color: transparent;
}
.card {
  background-color: #edf4fa;
}
.grow {
  animation: crescendo 1.5s alternate infinite ease-in;
}
@keyframes crescendo {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.1);
  }
}
.rounded-circle-img {
  width: 170px;
  height: 170px;
}



/* .accordion-button::after {
  animation: crescendo 1.5s alternate infinite ease-in;
} */

/* .offcanvas css  */

.menu-icon {
  width: 30px;
}
.thestorelogos.p-icon{
  height: 50px;
  width: 35px;
}

.tog img{
  width: 350px;
}
@media (max-width: 1199px) {
  .logo {
    height: 45px !important;
  }
  .logo1 {
    height: 50px !important;
  }
}

@media (min-width: 992px) {
  /* .offcanvas {
    visibility: visible;
    position: relative;
    background: none;
    border: none;
    justify-content: end;
  } */
}
@media (max-width: 992px) {
  /* .offcanvas {
    width: 250px !important;
  } */
  /* .offcanvas-start-lg {
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }
  .offcanvas-body {
    background-color: #d4f4fd;
  } */
  .slick-list.draggable {
    /* padding: 0px 50px; */
  }
  /* .slick-slide img{
    height: 300px !important;
  }
  .slider-img-link{
    height: 300px !important;
  } */
}
@media (max-width: 768px) {
  .logo {
    height: 35px !important;
  }
  .logo1 {
    height: 40px !important;
  }
  .rounded-circle-img {
    width: 130px;
    height: 130px;
}

.rounded-circle-img+h5{
  font-size: 14px;
}
.slick-prev,
.slick-next {
  display: none !important;
}
}
@media (max-width: 576px) {
  #fixed-navbar {
    height: 80px;
  }
  .genz-logo {
    height: 72px !important;
    width: 91.08px !important;
  }
  .menu-icon {
    width: 25px;
  }
  .thestorelogos.p-icon{
    height: 50px;
    width: 35px;
  }
  .margin {
    margin-bottom: 88px !important;
  }
  .slick-list.draggable {
    /* padding: 0px 20px !important; */
  }
  .rounded-circle-img {
    width: 110px;
    height: 110px;
}
.tog img{
    width: 280px;
  }
/* .big-b{
  width: 7rem !important;
} */
}
@media (max-width: 414px) {
  .logo {
    height: 30px !important;
  }
  .logo1 {
    height: 35px !important;
  }
}
.navbar-nav li a {
  /* color: black; */
  color: #FFFFFF;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
}
.nav-link:focus, .nav-link:hover {
  color: rgb(255 255 255 / 80%);
  box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, .15) !important;
}
.navbar-nav .nav-link.active {
  /* color: #4297b8; */
  color: #FFFFFF;
  /* background-color: #241a8f54; */
  /* box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, .15) !important; */
  box-shadow: 0 0.2rem 3rem rgb(255 255 246 / 8%) !important;
  padding: 10px 20px;
}
/* chat bot  */

#chatgpt-bot-header div {
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}
#chatgpt-bot-header div.active {
  border-bottom: 2px solid #7368EB;

}
#chatbot-container {
  z-index: 998; /* Lower than ChatGPT by default */
}

#chatgpt-bot-container {
  z-index: 999; /* ChatGPT bot is higher by default */
}
#chatbot-container,#chatgpt-bot-container {
  /* z-index: 999; */
  color: #2c2325;
  position: fixed;
  background-color: #09090959;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* backdrop-filter: grayscale(0.8); */
}

#chatbot-interface, #chatgpt-bot-interface {
    height: 90vh;
    width: 70vw;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
}
#chatbot-header, #chatgpt-bot-header {
    font-weight: 600;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    align-items: center;
    padding: 2rem 2rem 0 2rem;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
}
.chatbot-chat,.chatgpt-bot-chat,.deepseek-bot-chat {
  height: calc(100% - 56.9px - 7rem);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
    padding: 1rem 1rem 1rem 2rem;
  overflow-y: scroll;
  /* display: flex; */
  /* flex-direction: column-reverse; */
}
/* #chatgpt-bot-header img{
  filter: invert(1);
} */

.chatbot-messages,.chatgpt-bot-messages,.deepseek-bot-messages {
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  width: fit-content;
}

.bot-message,.chatgpt-bot-message,.deepseek-bot-message {
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  width: fit-content;
  background: #EEEEEE;
  color: #505050;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
  border-top-left-radius: 0rem;
}

.user-message,.chatgpt-user-message,.deepseek-user-message {
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  width: fit-content;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
  color: #ffffff;
  background: #7368EB;
  border-top-right-radius: 0rem;
  margin-left: auto;
  margin-right: 0;
}

#chatbot-footer,#chatgpt-bot-footer,#deepseek-bot-footer {
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

#chatbot-input-container,#chatgpt-bot-input-container,#deepseek-bot-input-container {
  width: calc(100%);
}

#user-input,#chatgpt-user-input,#deepseek-user-input {
  width: calc(100% - 2rem);
  padding: 0.8rem 1rem;
  color: rgb(4, 4, 4);
  background-color: rgb(240, 242, 247);
  /* border: 0.1rem solid #574449; */
  border: transparent;
  border-radius: 1rem;
}

#user-input:focus,#chatgpt-user-input:focus,#deepseek-user-input:focus {
  outline-offset: 0px !important;
  outline: none !important;
  border: transparent;
  /* border: 0.1rem solid #8A6E2F; */
  /*box-shadow: 0 0 5px #FDB931 !important;*/
}

#chatbot-new-message-send-button,#chatgpt-bot-new-message-send-button,#deepseek-bot-new-message-send-button {
  cursor: pointer;
}
/* #deepseek-output .bot-message {
  width: 100%;
} */
#send-icon,#chatgpt-send-icon,#deepseek-send-icon {
  color: #7368EB;
  font-size: 25px;
}
#send-icon:hover,#chatgpt-send-icon:hover,#deepseek-send-icon:hover {
  color: #7368EB;
}
#chatgpt-bot-open-container {
  position: fixed;
  bottom: 41px;
  left: 20px;
  /* background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); */
  background-color: #ffffff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
}
#chatbot-open-container {
  position: fixed;
  bottom: 41px;
  right: 20px;
  /* background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); */
  background-color: #ffffff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
}
#open-chatgpt-button{
  width: 130%;
  height: 130%;
}
#open-chat-button{
  width: 100%;
  height: 100%;
}
.close-chat-button,.close-chatgpt-button{
  cursor: pointer;
}

#chatbot-open-container i,#chatgpt-bot-open-container i {
  /* padding-top: 0.15rem; */
  font-size: 25px;
  color: #000000;
}
@media (max-width: 768px) {
  #chatgpt-bot-open-container,#chatbot-open-container{
    z-index: 900;
  }
  #chatbot-open-container, #chatgpt-bot-open-container,
      .filter {
        bottom: 85px !important;
      }
  #chatbot-interface,#chatgpt-bot-interface {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 0rem;
  }
  #tab-deepseek img, #tab-chatgpt img {
    width: 30px !important;
  }
  #tab-deepseek h5, #tab-chatgpt h5 {
    font-size: 16px;
  }
  .chatbot-chat,.chatgpt-bot-chat,.deepseek-bot-chat {
    /* height: calc(100% - 9rem); */
    height: 100%;
  }
  #user-input, #chatgpt-user-input, #deepseek-user-input {
    width: calc(100% - .5rem);
  }
  #chatbot-footer, #chatgpt-bot-footer, #deepseek-bot-footer {
    padding: .6rem;
  }
  .tog .overflow-x-auto {
    overflow-x: scroll !important;
    margin: 0 !important;
}
.tog .scroll-btn{
  display: none;
}
.topmenu a {
  font-size: 12px;
  white-space: nowrap;
}
}
.deal-section:last-child .card{
  border: none !important;
  margin: 0 !important;
}
.deal-image {
  height: 70px;
  max-width: 120px;
}
.bot-message.typing-indicator{
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #505050;
  margin: 0px 2px;
  margin-bottom: 15px;
}

.bot-message.typing-indicator .dot:nth-last-child(1) {
  animation: jumpingAnimation 0.6s 0.1s ease-in infinite;
}
.bot-message.typing-indicator .dot:nth-last-child(2) {
  animation: jumpingAnimation 0.6s 0.2s ease-in infinite;
}
.bot-message.typing-indicator .dot:nth-last-child(3) {
  animation: jumpingAnimation 0.6s 0.3s ease-in infinite;
}

@keyframes jumpingAnimation {
  0 {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 15px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  animation: typing steps(var(--characters)) 2s forwards;
  animation-delay: 0s, 4s; /* The blink stops after 4 seconds (the duration of the type animation) */
  width: 0;
}
@keyframes blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: transparent; /* Stop the blinking by keeping the border transparent */
  }
}

@keyframes typing {
  from { width: 0; }
  to { width: var(--text-width); }
}


.slick-list{
  /* padding: 0px 230px !important; */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the body takes up at least the viewport's height */
  margin: 0;
}

main {
  flex: 1; /* Allow the main content to grow and take up remaining space */
}

.footer{
  display: none;
}
special-footer{
  margin-top: auto;
}

#user-profile .dropdown{
  height: 40px;
  width: 40px;
  padding: 8px;
}
#user-profile .dropdown-menu[data-bs-popper] , .dynamic-dd+.dropdown-menu[data-bs-popper] {
  right: 0 !important;
  left: unset;
}
.form-control {
  color: rgb(66, 151, 184);
  /* border-color: rgb(66, 151, 184); */
  border-color: rgb(27 20 100);
}
.form-control:focus,
        .form-select:focus {
            /* border-color: rgb(66, 151, 184); */
            border-color: rgb(27 20 100);
            outline: 0;
            box-shadow: none;
        }

          /* Overlay styles */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Translucent black overlay */
    z-index: 9999; /* Ensure overlay is above everything else */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Spinner styles */
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3); /* Change color and opacity as needed */
    border-left-color: #1b1464; /* Change color as needed */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    z-index: 10000; /* Ensure spinner is above overlay */
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  .user-data{
    color: #FFFFFF;
  }
  .big-b{
    cursor: pointer;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #000000 inset !important;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
.tog .position-relative {
  display: flex;
  align-items: center;
}
.tog .scroll-btn.left-btn{
  position: absolute;
  left: 0;
}
.tog .scroll-btn.right-btn{
  position: absolute;
  right: 0;
}
.tog .scroll-btn {
  background-color: #f0f0f0; /* Light background */
            border: none; /* No border */
            border-radius: 50%; /* Circular button */
            width: 35px;
            height: 35px;
            cursor: pointer; /* Pointer on hover */
            z-index: 1; /* Ensure they are on top */
            transition: background-color 0.3s; /* Transition for hover effect */
}

.tog .scroll-btn:hover {
  background-color: #f0f0f0;
}

.tog #button-container {
  overflow-x: hidden; /* Hide the scrollbar */
  white-space: nowrap; /* Prevent line breaks */
  padding: 0 30px; /* Optional */
}

.tog .overflow-x-auto {
  overflow-x: hidden; /* Hide scrollbar */
  white-space: nowrap; /* Prevent line breaks */
  margin: 0 40px; /* Padding for the button area */
}
.tog .d-flex {
  transition: transform 0.3s ease; /* Smooth transition for scrolling */
}
.tog .row-container {
  position: relative; /* Relative for positioning scroll buttons */
  margin-bottom: 5px; /* Space between rows */
}
.bot-message .dark_edge {
  background: -moz-radial-gradient(farthest-corner at top right, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0.5) 76%, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.0) 157%);
  background: -webkit-radial-gradient(farthest-corner at top right, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0.5) 76%, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.0) 157%);
  background: -o-radial-gradient(farthest-corner at top right, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0.5) 76%, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.0) 157%);
  background: -ms-radial-gradient(farthest-corner at top right, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0.5) 76%, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.0) 157%);
  background: radial-gradient(farthest-corner at top right, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0.5) 76%, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.0) 157%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1);
  opacity: 1;
}
.bot-message .grad {
  border-radius: 16px;
  height: 100%;
  width: 100%;
  left: 0;
  opacity: .5;
  position: absolute;
  top: 0;
  z-index: 2;
}

.tog .btn.btn-outline-dark.rounded-pill.bg-light.me-2.text-nowrap:hover{
  color: #000000;
  border: 1px solid #000000;
}
.btn:hover{
opacity: 0.9;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.topmenu a {
  white-space: nowrap;
}

.file-icon {
  font-weight: bold;
  margin-right: 5px;
  color: #00796b;
}

#mic-container {
  position: relative;
  display: flex;
}

#mic-animation {
  display: none;
  /* Hidden by default */
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  height: 33px;
}

#barsVoice {
  display: flex;
  justify-content: center;
  align-items: center;
  /*     background: black; */
}

.bar-voice {
  background: #52467b;
  bottom: 1px;
  height: 1px;
  width: 5px;
  margin: 0px 4px;
  border-radius: 5px;
  animation: sound 0ms -600ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: .35;
    height: 3px;
  }

  100% {
    opacity: 1;
    height: 20px;
  }
}

.bar-voice:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}

.bar-voice:nth-child(2) {
  left: 15px;
  animation-duration: 433ms;
}

.bar-voice:nth-child(3) {
  left: 29px;
  animation-duration: 407ms;
}

.bar-voice:nth-child(4) {
  left: 43px;
  animation-duration: 458ms;
}

.bar-voice:nth-child(5) {
  left: 57px;
  animation-duration: 400ms;
}

.bar-voice:nth-child(6) {
  left: 71px;
  animation-duration: 427ms;
}

#cancelRecording {
  top: -12px;
  right: -7px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 22px;
}

.bot-message table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

.bot-message th,
.bot-message td {
  border: 1px solid #ccc;
  padding: 6px 10px;
  text-align: left;
  font-size: 14px;
}

.bot-message th {
  background-color: #f0f0f0;
}

.error-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}