/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap"); */

 .testimonial-container {
  width: 100%;
  /* min-height: 100vh; */
  color: #fefeff;
  font-size: 32px;
  /* font-family: "Inter", sans-serif; */
  /* background-color: #ffffff; */
  background-repeat: no-repeat;
  background-position: left bottom;
  /* background-size: 280px 72px; */
  /* background-image: url(https://alcs-slider.netlify.app/images/pattern-curve.svg); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
 .testimonial-container .main {
  width: 100%;
  max-width: 1440px;
  padding: 16px;
}
 .testimonial-container .main .slider .buttons {
  z-index: 1;
  right: 50%;
  top: 261px;
  width: 80px;
  height: 40px;
  position: absolute;
  border-radius: 50px;
  transform: translateX(50%);
  background-color: #ffffff;
}
 .testimonial-container .main .slider .buttons .previous,
 .testimonial-container .main .slider .buttons .next {
  width: 50%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
 .testimonial-container .main .slider .buttons .previous {
  left: 0;
  background-image: url("https://alcs-slider.netlify.app/images/icon-prev.svg");
}
 .testimonial-container .main .slider .buttons .previous:hover {
  transform: scale(1.25);
}
 .testimonial-container .main .slider .buttons .next {
  right: 0;
  background-image: url("https://alcs-slider.netlify.app/images/icon-next.svg");
}
 .testimonial-container .main .slider .buttons .next:hover {
  transform: scale(1.25);
}
 .testimonial-container .main .slider .slide {
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
 .testimonial-container .main .slider .slide .testimonial {
  padding: 32px 51px;
  background-size: 60px;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url(https://alcs-slider.netlify.app/images/pattern-quotes.svg);
}
 .testimonial-container .main .slider .slide .testimonial blockquote {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 36px;
}
 .testimonial-container .main .slider .slide .testimonial .author {
  font-size: 15px;
  font-weight: 700;
}
 .testimonial-container .main .slider .slide .testimonial .author span {
  display: block;
  color: #babacf;
  font-weight: 500;
}
 .testimonial-container .main .slider .slide .slider-img {
  width: 100%;
  padding: 30px;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://alcs-slider.netlify.app/images/pattern-bg.svg);
}
 .testimonial-container .main .slider .slide .slider-img img {
  width: 240px;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 16px 40px 0px rgba(135, 105, 210, 0.4);
}
 .testimonial-container .main .slider .slide .active {
  opacity: 1;
  transform: translateX(0) scale(1);
  transition-delay: 0.4s;
}
 .testimonial-container footer {
  font-size: 11px;
  text-align: center;
}
 .testimonial-container footer a {
  color: #3e52a3;
}
 .testimonial-container .hide {
  display: none;
}

@media screen and (min-width: 600px) {
   .testimonial-container .main {
    max-width: 800px;
  }
   .testimonial-container .main .slider .buttons {
    top: 280px;
  }
}
@media screen and (min-width: 900px) {
   .testimonial-container .main {
    width: 100%;
    max-width: 1054px;
    padding: 64px 64px 64px 0;
  }
   .testimonial-container .main .slider .buttons {
    right: 43%;
    top: 500px;
  }
   .testimonial-container .main .slider .slide {
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: row;
  }
   .testimonial-container .main .slider .slide .testimonial {
    padding: 32px 0 0 0;
    background-size: 80px;
    background-position: 19% -7%;
    transform: translateX(100px);
  }
   .testimonial-container .main .slider .slide .testimonial blockquote {
    font-size: 24px;
    line-height: 30px;
  }
   .testimonial-container .main .slider .slide .testimonial .author span {
    display: contents;
  }
   .testimonial-container .main .slider .slide .slider-img {
    padding: 55px;
  }
   .testimonial-container .main .slider .slide .slider-img img {
    width: 400px;
  }
}